<a href="https://colab.research.google.com/github/areysid/AIML-lab/blob/main/AIML_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
num1=float(input("enter the value "))
num2=float(input("enter the value"))
sum=num1+num2
diff=num1-num2
product=num1*num2
quotient=num1/num2
power=num1**num2
remainder=num1%num2
print("sum is ",sum)
print("difference is",diff)
print("product is ", product)
print("quotient is",quotient)
print("power is ",power)
print("remainder is ",remainder)

enter the value 45.6
enter the value6.5
sum is  52.1
difference is 39.1
product is  296.40000000000003
quotient is 7.015384615384615
power is  60711571880.77482
remainder is  0.10000000000000142

In [8]:
var1 = int(input("enter a number "))
var2 = input("enter a string ")
var3 = input("enter a string ")
var4 = float(input("enter a number "))
var5 = input("enter True or False ")

# Convert var5 to a Boolean value
if var5.lower() == "true":
    var5 = True
else:
    var5 = False

sum = var1 + var4
concat = var2 + var3

if var5 == True:
    print("it is true")

print("the sum is ", sum)
print("concatenation is ", concat)

enter a number 45
enter a string Sidharth
enter a string Malpani
enter a number 55
enter True or False True
it is true
the sum is  100.0
concatenation is  SidharthMalpani

In [9]:
name = input("Please enter your name: ")
print(f"Hello, {name}!")
birth_year = input("Please enter your birth year: ")
birth_year = int(birth_year)
from datetime import datetime
current_year = datetime.now().year
age = current_year - birth_year
print(f"{name}, you are {age} years old.")

Please enter your name: Sidharth
Hello, Sidharth!
Please enter your birth year: 2004
Sidharth, you are 21 years old.

In [10]:

num=int(input("enter a number "))
if (num%2)==0:
    print(f"the given{num} number is even.")
else :
    print("the given number is odd")

enter a number 533
the given number is odd

In [11]:
print("Numbers from 21 to 30 using a for loop:")
for i in range(21, 31):
    print(i)

Numbers from 21 to 30 using a for loop:
21
22
23
24
25
26
27
28
29
30

In [12]:
fruits = ["apple", "banana", "cherry", "date"]
print("Original list:", fruits)
first_fruit = fruits[0]
second_fruit = fruits[1]
print("First fruit:", first_fruit)
print("Second fruit:", second_fruit)
fruits[1] = "blueberry"
print("Modified list:", fruits)
fruits.append("elderberry")
print("List after adding an element:", fruits)
fruits.remove("cherry")
print("List after removing an element:", fruits)
length_of_list = len(fruits)
print("Length of the list:", length_of_list)
fruits.sort()
print("List sorted in ascending order:", fruits)
fruits.sort(reverse=True)
print("List sorted in descending order:", fruits)

Original list: ['apple', 'banana', 'cherry', 'date']
First fruit: apple
Second fruit: banana
Modified list: ['apple', 'blueberry', 'cherry', 'date']
List after adding an element: ['apple', 'blueberry', 'cherry', 'date', 'elderberry']
List after removing an element: ['apple', 'blueberry', 'date', 'elderberry']
Length of the list: 4
List sorted in ascending order: ['apple', 'blueberry', 'date', 'elderberry']
List sorted in descending order: ['elderberry', 'date', 'blueberry', 'apple']

In [13]:
my_string = "Hello noobs, welcome to the world of Python programming!"
string_length = len(my_string)
print("Length of the string:", string_length)
uppercase_string = my_string.upper()
print("Uppercase string:", uppercase_string)
lowercase_string = my_string.lower()
print("Lowercase string:", lowercase_string)
substring = "noobs"
substring_exists = substring in my_string
print(f"Does the substring '{substring}' exist in the string?:", substring_exists)
words_list = my_string.split()
print("List of words:", words_list)

Length of the string: 56
Uppercase string: HELLO NOOBS, WELCOME TO THE WORLD OF PYTHON PROGRAMMING!
Lowercase string: hello noobs, welcome to the world of python programming!
Does the substring 'noobs' exist in the string?: True
List of words: ['Hello', 'noobs,', 'welcome', 'to', 'the', 'world', 'of', 'Python', 'programming!']

In [17]:
def find_largest_and_smallest(numbers):
    largest = smallest = numbers[0]
    for num in numbers[1:]:
       if num > largest:
            largest = num
       elif num < smallest:
            smallest = num
    return largest, smallest
numbers = [-3, 4, 5, 16, 21,-21, 13, 10]
largest, smallest = find_largest_and_smallest(numbers)
print(f"Largest number: {largest}")
print(f"Smallest number: {smallest}")

Largest number: 21
Smallest number: -21